

<div class="mn-content fixed-sidebar">
    
    <%= render 'dashboards/header' %>

    <%= render 'dashboards/admin_side_nav' %>
    
    <main class="mn-inner">
        

            <div class="row no-m-t no-m-b">
                
                <div class="col s12 m12 l12">
                    
                        
                            <%= render 'form' %>
                            <%= link_to 'Back', streams_path %>
                    	
                	</div>
                
            </div>
    


        
    </main>
</div>