<div class="mn-content fixed-sidebar">
    
    <%= render 'dashboards/header' %>

    <%= render 'dashboards/admin_side_nav' %>
    
    <main class="mn-inner inner-active-sidebar">
        <div class="middle-content">



            <div class="row no-m-t no-m-b">
                
                <div class="col s12 m12 l12" style="margin-top: 30px;">
                    <div class="card stats-card">
                        <div class="card-content">
                        	<span class="card-title">CLIENTS LIST</span>
                            <ul class="collection with-header">
                            	<% @users.each do |user| %>
                            		<% if !user.admin? %>
                                		<li class="collection-item"><div><%= user.company_name %><%= link_to user, class: "secondary-content" do %>
                                			<i class="material-icons">send</i>
                                		<% end %>
                                		</div></li>
                                	<% end %>
                            	<% end %>    
                            </ul>
                    	</div>
                	</div>
                </div>
            </div>
    </div>


        
    </main>
</div>




<!-- Javascripts -->
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/jquery/jquery-2.2.0.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/materialize/js/materialize.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/counter-up-master/jquery.counterup.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/curvedlines/curvedLines.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/peity/jquery.peity.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/js/alpha.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/js/pages/dashboard.js"></script>